{% extends 'EkreativeRedmineBundle:Redmine:main.html.twig' %}
{% block title %}Redmine interaction{% endblock %}
{% block content %}

    <h2>Please log in to interact with Redmine</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

    <form class="login" action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <input
                type="hidden"
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
                >

        <button type="submit">login</button>
    </form>
{% endblock %}