{% extends 'EkreativeRedmineBundle:Redmine:project.html.twig' %}
{% block content %}
    <h2>Comments</h2>
    <a href="{{ path('comment', {'projectId': project.id}) }}">Create a comment</a>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.id }}. {{ comment.text }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('issues', {'projectId': project.id}) }}">Back To Issues</a>
{% endblock %}

